<head>
	{{ include('html-header.twig') }}
	{% block styleContact %}
		
	{% endblock styleContact %}
</head>


	<body class="{{body_class}}" data-template="base.twig">
		<header class="header d-flex align-items-center justify-content-end sticky-top text-center">
			{% block header %}
					<nav id="nav-main" class="nav-main " role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav>
				</div>
			{% endblock %}
		</header>
		<div class="viewer-height-content d-flex">
			{% block content %}
				
			{% endblock content %}
	
			{% block footer %}
				<footer id="footer">
					<div>{% include 'footer.twig' %}</div>
				</footer>
			{% endblock %}
		</div>
	</body>
</html>
